*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 1170px;
    margin:auto;
}
header{
    background: url("q.jpg");
    height: 100vh;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    position: relative;
}
