body {
    background-image: url("b1.png");
    background-size: cover;
    background-position: center;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    position: relative;
    left: 12vw;
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
}

.wrapper div {
    width: 12vw;
    border-radius: 15%;
    color: white;
    background-color: rgba(173, 173, 173, 0.5);
    padding: 4%; 
    margin: 6% 4%;
    text-align: center;
    font-size: 1.5em;
}

.wrapper img {
    width: 80%;
}

.purple {
    color: purple;
}
